
<form class="form_credentials" id="form_credentials" action="{{ form_action }}" method="post">
    <div id="wrapper_form">
        <p class="form_title">{{ form_title }}</p>
        <p id="form_message"></p>
        <div>
            <label for="">
                Nom
            </label>
            <input type="text" name="name" />
        </div>
        <div>
            <label for="">
                Mot de passe
            </label>
            <input type="password" name="password" />
        </div>
        <div>
            <button onclick="submitCredentials()">
                {{ form_button }}
            </button>
        </div>
        <p>
            <span>{{ form_question }}</span>
            <a href="{{ form_href }}"><span style="text-decoration: underline;">{{ form_link }}</span></a>
        </p>
    </div>

    <div id="loading">
        <!-- TODO -->
    </div>
</form>



